* {
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.5;
    box-sizing: border-box;
}

address,
body,
dd,
dl,
dt,
h1,
h2,
html,
li,
p,
ul {
    border: 0
}

body {
    background-image: url("../images/denim.png");
    font-family: Arial, Helvetica, sans-serif;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

.header {
    background-image: url("../images/black_denim.png");
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    color: white;
}

.header--container {
    margin-top: 15px;
    background-image: url("../images/black_denim.png");
}

.header__h1--title {
    font-weight: 1000;
    display: inline-block;
}

.header--container__time {
    font-size: 0.75em;
    margin-top: 25px;
    font-weight: 700;
}

.header .nav {
    background-image: url("../images/denim.png");
    width: 100%;
    padding: 5px;
}

.header .nav__link {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 4px 25px;
    text-transform: uppercase;
    font-weight: 200;
    transition: 0.1s 0.05s;
}

.nav__link:hover,
.nav__link:focus {
    color: #1d9ed9;
    background-color: black;
}

.nav__item {
    display: inline;
}

.content {
    background-color: white;
    margin-bottom: 28px;
    box-sizing: border-box;
    display: flex;
    margin-top: 105px;
}

.main {
    padding: 45px 23px 35px 28px;
    width: calc(((100% / 3) * 2) + 45px);
}

.main ::selection {
    background: lightgray;
}

.main__gallery {
    margin-top: 40px;
}

.main__gallery__title {
    text-transform: uppercase;
    font-size: 1em;
}

.aside__rightColumn {
    display: block;
    width: calc((100% / 3) - 45px);
    background-color: #f2f2f2;
    padding: 20px;
    color: #1d9ed9;
}

.aside__title__figure {
    display: block;
    width: 50%;
    border-top: 2px solid #1d9ed9;
    margin: calc(2em + 20px) 0px 10px 0px;
}

.aside__rightColumn figure img {
    width: 100%;
}

.footer {
    position: fixed;
    width: 100%;
    padding: 0.75em;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 0.75em;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}