*,
address,
body,
dd,
dl,
dt,
h1,
h2,
html,
img,
li,
p,
ul {
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.5
}

address,
body,
dd,
dl,
dt,
h1,
h2,
html,
li,
p,
ul {
    border: 0
}

body {
    background-image: url("../images/denim.png");
    font-family: Arial, Helvetica, sans-serif;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

.header {
    background-image: url("../images/black_denim.png");
    height: 65px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color: white;
}

.header--container {
    margin-top: 15px;
}

.header--container--title {
    font-weight: 1000;
    font-size: 2em;
    display: inline-block;
}

.header--container__time {
    font-size: 0.75em;
    margin-top: 25px;
}

.nav {
    margin-top: 70px;
    margin-bottom: 2px;
}

.nav__ul--menu {
    list-style: none;
}


.nav .menu__li a {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    display: block;
    padding: 4px 25px;
    text-transform: uppercase;
    font-weight: 200;
    transition: 0.1s 0.05s;
}

.menu__li a:hover,
.menu__li a:focus {
    color: #1d9ed9;
}

.nav .menu__li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    transition: 0.2s;
    z-index: -1;
}

.nav .menu__li a:hover::before,
.nav .menu__li a:focus::before {
    height: 100%;
    background-color: black;
}

.menu__li {
    display: inline;
    padding: 5px 0;
}

.content {
    background-color: white;
    margin-bottom: 28px;
    box-sizing: border-box;
    display: flex;
}

.main {
    padding: 45px 23px 35px 28px;
    width: calc(calc(calc(100% / 3) * 2) + 45px);
}

.main ::selection {
    background: lightgray;
}

.main--gallery {
    margin-top: 40px;
}

.aside--rightColumn {
    display: block;
    width: calc(calc(100% / 3) - 45px);
    background-color: #f2f2f2;
    padding: 20px;
    color: #1d9ed9;
}

.rightColumn--title__figure {
    display: block;
    width: 50%;
    border-top: 2px solid #1d9ed9;
    margin: calc(2em + 37.5px) 0px 10px 0px;
}

.aside--rightColumn img {
    width: 100%;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 0.75rem;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}