* {
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.5;
    box-sizing: border-box;
}

address,
body,
dd,
dl,
dt,
h1,
h2,
html,
li,
p,
ul {
    border: 0
}

body {
    background-image: url("../images/denim.png");
    font-family: Arial, Helvetica, sans-serif;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

.header {
    background-image: url("../images/black_denim.png");
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    color: white;
}

.header__container {
    margin-top: 15px;
    background-image: url("../images/black_denim.png");
}

.header__title {
    font-weight: 1000;
    display: inline-block;
}

.header__time {
    font-size: 0.75em;
    margin-top: 25px;
    font-weight: 700;
}

.menu-main {
    background-image: url("../images/denim.png");
    width: 100%;
    padding: 5px;
}

.menu-main__list,
.header__container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu-main__link {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 4px 25px;
    text-transform: uppercase;
    font-weight: 200;
    transition: 0.2s
}

.menu-main__link:hover,
.menu-main__link:focus {
    color: #1d9ed9;
    background-color: black;
}

.content {
    background-color: white;
    margin-bottom: 28px;
    box-sizing: border-box;
    display: flex;
    margin-top: 105px;
}

.main {
    padding: 45px 23px 35px 28px;
    width: calc(((100% / 3) * 2) + 40px);
}

.main ::selection {
    background: lightgray;
}

.main__gallery {
    margin-top: 40px;
}

.gallery__title {
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 10px;
}

.gallery__container {
    border: 2px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gallery__big-image {
    position: relative;
    transition: 0.2s;
}

.gallery__big-image img {
    width: 668px;
    height: 375px;
    transition: 0.2s;
}

.big-image-active {
    display: flex;
    opacity: 1;
}

.big-image-hidden {
    display: none;
    opacity: 0;
}

.gallery__big-image figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    color: white;
    padding: 10px 20px;
    line-height: 1em;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.gallery__big-image:hover figcaption {
    visibility: visible;
    opacity: 1;
}

.gallery__person-name {
    font-weight: 700;
    display: block;
}

.gallery__person-about {
    font-weight: 200;
    font-size: 90%;
}

.gallery__thumbnails-container {
    background-image: url(../images/gallery_slider_bg.jpg);
    height: 103px;
    position: relative;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gallery__thumbnails-images-container {
    width: 532px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gallery__thumbnails-images {
    width: 891px;
    height: 74px;
    transition: 0.3s;
}

.gallery__thumbnails-button img {
    position: relative;
    object-fit: cover;
    height: 74px;
    width: 85px;
    transition: all 0.2s;
}

.gallery__thumbnails-button img:hover {
    opacity: 0.7;
    filter: brightness(1.2);
}

.gallery__thumbnails-button .active {
    border: 3px solid #1d9ed9;
}

.gallery__button {
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.gallery__arrow {
    height: 100%;
    fill: white;
    transition: 0.2s;
}

.gallery__arrow:hover {
    fill: #1d9ed9;
}

.gallery__thumbnails-container .button-inactive {
    cursor: not-allowed;
}

.arrow-inactive {
    opacity: 0.5;
}

.arrow-inactive:hover {
    fill: white;
}

.previous-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.slide-right {
    transform: translateX(-359px);
}













.aside-content {
    display: block;
    width: calc((100% / 3) - 40px);
    background-color: #f2f2f2;
    padding: 20px;
    color: #1d9ed9;
}

.aside-content__title {
    display: block;
    width: 50%;
    border-top: 2px solid #1d9ed9;
    margin: calc(2em + 25px) 0px 10px 0px;
}

.aside-content__image img {
    width: 100%;
}

.footer {
    position: fixed;
    width: 100%;
    padding: 0.75em;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 0.75em;
}

.footer-menu__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer li:hover,
.footer-menu__link:hover {
    transition: 0.2s;
}

.footer li:hover,
.footer-menu__link:hover {
    color: #1d9ed9;
}

.footer-menu__button,
.gallery__button,
.gallery__thumbnails-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
    visibility: hidden;
}